@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  min-width: 1000px;
  height:auto;
  box-shadow: 0px 0px 4px 1px #D3D3D3;
  background-color: #F6F6F6;
  font-family: 'Ubuntu', sans-serif;
}

.logoBox {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 114px;
  background-image: url('images/logo_bg2.png');
  background-size: auto;
  box-shadow: 0px 0px 4px 1px #ffffff;
}
.topSpace {
  background-color: inherit;
  height: 45px;
  width: 200px;
  margin: 0 auto;
}
.topBar {
  background-color: inherit;
  height: 40px;
  width: 295px;
  margin: 0 auto;
  cursor: pointer;

}

.topNav {
  max-width: 1100px;
  height: 30px;
  background-color: inherit;
  color: white;
  display:flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 12px;


}
.signinbar {
  width:30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 30px;
}

.signinbar > a {
  color:white;
  text-decoration: none;
}


.signinbar > input {
    width: 100px;
    font-size: 10px;
    height: 22px;
    margin-top: 4px;
    border-bottom: none;

}
.signinbar > input[type=text]:focus {
    width: 100px;

}

.menuItems {
  padding-left: 360px;
  align-items: flex-end;
  width: 70%;
  justify-content: space-around;
  display: flex;
  line-height: 30px;
}
.menuItems > a {
  color:white;
  text-decoration: none;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width:1100px;
  height: 500px;
  min-width: 1000px;
  background-image: url('images/logo_center.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -2px;

}
h1 {
  font-size: 35px;
  border-bottom: 2px solid #EF466A;
  font-weight: normal;
  width:145px;
}
.leftContent > button {
  background-color: #EF466A;
  border-radius: 4px;
  width: 75px;
  color: black;
  font-weight: bold;
}

.leftContent {
  padding-left: 100px;
  padding-top: 25px;
  width: 600px;
  font-size: 17px;
  color: black;
  padding-right: 75px;
}

.rightContent {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.ribbon {
  background-color: black;
  width: 1100px;
  height: 30px;
}
.bottomContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: black;
  width: 1100px;
  min-width: 1000px;
  height:auto;
}
.tile1 {
  height: 320px;
  width: 275px;
  background-image: url('images/tile_hand1.png');
  text-align: center;
  color:white;
  opacity: .8;
  line-height: 25px;
  padding: 30px 25px 0px 25px;
}
.tile1:hover {
  opacity: 1;
  border-top: 2px solid #EF466A;
}
.tile2 {
  height: 320px;
  width: 275px;
  background-image: url('images/tile_crayon1.png');
  text-align: center;
  color:white;
  opacity: .8;
  line-height: 25px;
  padding: 30px 25px 0px 25px;
}
.tile2:hover {
  opacity: 1;
  border-top: 2px solid #EF466A;
}
.tile3 {
  height: 320px;
  width: 275px;
  background-image: url('images/tile_crowd1.png');
  text-align: center;
  color:white;
  opacity: .8;
  line-height: 25px;
  padding: 30px 25px 0px 25px;
}
.tile3:hover {
  opacity: 1;
  border-top: 2px solid #EF466A;
}
.tile4 {
  height: 320px;
  width: 275px;
  background-image: url('images/tile_camera1.png');
  text-align: center;
  color:white;
  opacity: .8;
  line-height: 25px;
  padding: 30px 25px 0px 25px;
}
.tile4:hover {
  opacity: 1;
  border-top: 2px solid #EF466A;
}
a:hover {
  color:#EF466A;
}

.learnRibbon {
  border-top: 2px solid #EF466A;
  width: 1100px;
  height:300px;
  background-color: black;
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.learnButton {
  border: 2px solid white;
  width:100px;
  height: 50px;
  color: #EF466A;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}
.learnLeft {

  padding-top: 25px;

}
.learnLeft > h1 {
  font-size: 35px;
  border-bottom: 2px solid #EF466A;
  font-weight: normal;
  width: 185px;
  color:white;
  font-weight: lighter;
}

.learnMiddle {

  padding-top: 25px;
  width: 200px;
}
.learnMiddle > h1 {
  font-size: 35px;
  border-bottom: 2px solid #EF466A;
  font-weight: normal;
  width: 190px;
  color:white;
  font-weight: lighter;
}
.learnRight {

  padding-top: 25px;
  width: 200px;
}

.learnRight > h1 {
  font-size: 35px;
  border-bottom: 2px solid #EF466A;
  font-weight: normal;
  width: 180px;
  color:white;
  font-weight: lighter;
}
.contactButton {
  border: 2px solid white;
  width:100px;
  height: 50px;
  color: #EF466A;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}


p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}

li {
  background-color: black;
}
.footer-social-icons {
    width: 190px;
    height:auto;
    display:block;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: black;
    -webkit-font-smoothing: antialiased;
}
.social-icon {
    color: #fff;
    width:20px;
    background-color: black;
}
ul.social-icons {
  line-height: 40px;
    margin-top: 10px;
    background-color: black;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 300px;
    border:none;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #EF466A;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
    background-color: #EF466A;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 13.5px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
    background-color: #EF466A;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 12px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
    background-color: #EF466A;
}
.fa-youtube:hover {
    background-color: red;
}
.fa-linkedin {
    padding:10px 12px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
    background-color: #EF466A;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 8.5px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
    background-color: #EF466A;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
