.homeScreen {
  height: 590px;
  width:1366px;
  display: flex;
  opacity: .2;
  background-color: white;

}

.profileImg {

}

.profileText {
  flex-direction: row;
  flex-wrap: wrap;
  height: 590px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-left: 25px;
  width: 60%;
  background-color: inherit;
  margin-top: 25px;
  padding: 5px 15px 5px 15px;
  margin-bottom:10px;

}
.profileText > h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-left: 25px;
  color: #7DD3F1;
  background-color: #E6E7E8;

}
.profileText > h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: : 1px solid grey;
  width:30%;
  margin-left: 25px;
  background-color: #E6E7E8;
}

.profileText > h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 12px;
  border: 2px solid white;
  width: 30%;
  height: 200px;
  margin-left: 25px;
  color: grey;
  background-color: #E6E7E8;
}

.profileText > img {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 200px;
  height:200px;
  margin-left: 25px;
  margin-top: 50px;
}
