<div class="signup">
  <h2>Welcome to ShareSpace</h2><p>
    Sign up below</p>
    <input ng-model="user.firstName" type="text" name="First Name" placeholder="First Name">
    <input ng-model="user.lastName" type="text" name="Last Name" placeholder="Last Name">
  </br>
    <input ng-model="user.email" type="text" name="Email" placeholder="Email">
    <input ng-model="user.password" type="text" name="Password" placeholder="Password">
  </br>
    <input ng-model="user.imageUrl" type="text" name="Profile Image" placeholder="Profile Image"></br>
    <input ng-model="user.location" type="text" name="Location" placeholder="Location"></br>
    <input ng-model="user.bio" type="text" name="Bio" placeholder="Bio"></br>
    <button ng-click="createUser(user)">SAVE</button>
</div>
